body{
    font-family: 'Montserrat', sans-serif;
}

/* NAVIGATION BAR */
.mynav{
    background: transparent!important;
    padding: 10px 0;
}

#myNav{
    transition: all 0.5s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff!important;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #b3001b!important;
    font-weight: bold!important;
}

.navbar.fixed-top {
    transition: top .5s ease-in-out;
}

.navbar.fixed-top.scrolled {
    background:rgba(0, 0, 0, 0.8)!important;
    transition: background-color 200ms linear;
}

#logo{
    width: 80px;
    height: 80px; 
}

/* ALERT NOTIFICATION BAR */
.alert {
    position: fixed;
    width: 100%;
    top: -50px;
    transition: top .5s ease-in-out;
    z-index: 1000;
}

body.alert-show .alert {
    top: 0;
}

body.alert-show .navbar.fixed-top {
    top: 50px;
}

/* CAROUSEL */
.carousel-caption {
    text-shadow: 0 3px 2px rgba(0,0,0,0.6);
    position: absolute;
    max-width: 60vw;
    margin: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 56%;
    transform: translate(-50%, -50%);
}

.carousel-indicators{
    bottom: 30px;
}

.carousel-indicators > li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.carousel-item img {
    object-fit: cover;
}

#indicator{
    cursor: pointer;
}

#indicator.active{
    border: 1px solid rgba(0, 0, 0, 0.8);
    transition: all .2s ease-in-out;
    transform: scale(2);
}

.carousel-indicators li:not(:last-child) {
    margin-right: 10px;
}

/* black overlay on image */
.black-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

#ctaBtn{
    padding: 10px 20px!important;
    font-weight: bold!important;
    margin: 10px 15px!important;
}

.carousel-message{
    padding: 15px 0;
}

/* cards */
.heading{
    text-align: center;
    font-weight: bold;
}

hr{
    height: 0.5px; 
    background: rgb(140, 140, 140);
    margin-top: 25px; 
    margin-bottom: 50px;
}

.cardContainer{
   padding: 80px 0;
   width: 60vw;
   margin: auto;
}

#overlay{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

/* sushi */
#sushi{
    background: url('../img/sushi.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* hotpot */
#hotpot{
    background: url('../img/hotpot.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* grill */
#grill{
    background: url('../img/grill.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* sake */
#sake{
    background: url('../img/sake.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-title{
    color: #fff;
    font-weight: bold;
}

.card-text{
    font-size: 12px;
    color: #fff;
    padding-top: 35px;
}

#viewBtn{
    font-size: 14px;
}

/* ABOUT SECTION */
.aboutContainer{
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 80px auto;
}

.aboutContent{
    padding: 0 70px;
}

.row{
    display:table-row;
}

.column{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

#readMore{
    font-weight: bold;
    font-size: 14px;
}

#colID-2{
    border: 1px solid #000;
    background: #c42727;
    color: #fff;
}

/* GALLERY SECTION */
.gallery{
    padding: 80px 0;
    width: 60vw;
    margin: auto;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7); 
    
}

.row-1 img{
    padding: 5px;
    max-width: 20vw;
}

.imgCol{
    display: none; 
}

#btnContainer{
    text-align: center;
    transition: all 0.5 ease;
    margin-bottom: 50px;
}

.btn.active{
    font-weight: bold;
}

.show {
    display: block;
}

/* OUR TEAM SECTION */
.ourTeam{
    padding: 80px 0;
    width: 60vw;
    margin: auto;
}

.card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-1{
    text-align: center;
    border: rgba(0, 0, 0, 0.5) solid 1px;
}

.card-title-1{
    color: #000;
    font-weight: bold;
}

.card-text-1{
    font-size: 15px;
    color: #000;
}

/* STORE SECTION */
#map {
    height: 500px;
    width: 100%;
}

.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column-2{
    vertical-align: middle;
    width: 60%;
}

.column-3{
    margin: auto;
    vertical-align: middle;
    width: 40%;
}

/* SOCIAL MEDIA */
.socialMedia{
    display: flex;
    text-align: center;
    padding: 0;
}

.socialMedia li{
    list-style: none;
    margin: 10px;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
}

.socialMedia li:nth-child(1){
    background: #3b5998;
}

.socialMedia li:nth-child(2){
    background: #00aced;
}

.socialMedia li:nth-child(3){
    background: #dd4b39;
}

.socialMedia li:nth-child(4){
    background: #007bb6;
}

.socialMedia li:nth-child(5){
    background: #bc2a8d;
}

.socialMedia li:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.socialMedia li a{
    width: 60px;
    padding: 16px 0;
    display: block;
    color: #fff;
}

/* FOOTER SECTION */
footer{
    margin-top: 50px;
    background: #181818;
    color: #fff;
}

/* MOBILE OPTIMIZATION */
@media (max-width: 991px) {
    .mynav{
        background:rgba(0, 0, 0, 0.7)!important;
    }
    .navbar-nav > li > a {
        line-height: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto !important;
        overflow: visible !important;
    }
    .nav-item{
        text-align: center;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1.5rem;
    }
    .notiContent{
        font-size: 12px!important;
    }
}

@media (max-height: 670px) {
    .navbar-nav > li > a {
        line-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto !important;
        overflow: visible !important;
    }
}