body{
    font-family: 'Montserrat', sans-serif;
}

/* NAVIGATION BAR */
.mynav{
    background: transparent!important;
    padding: 10px 0;
}

#myNav{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff!important;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #b3001b!important;
    font-weight: bold!important;
}

.navbar.fixed-top {
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -ms-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
}

.navbar.fixed-top.scrolled {
    background:rgba(0, 0, 0, 0.8)!important;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#logo{
    width: 80px;
    height: 80px; 
}

/* ALERT NOTIFICATION BAR */
.alert {
    position: fixed;
    width: 100vw;
    top: -50px;
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -ms-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
    z-index: 1000;
}

body.alert-show .alert {
    top: 0;
}

body.alert-show .navbar.fixed-top {
    top: 50px;
}

/* CAROUSEL */
.carousel-caption {
    text-shadow: 0 3px 2px rgba(0,0,0,0.6);
    position: absolute;
    max-width: 100vw;
    margin: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel-indicators{
    bottom: 30px;
}

.carousel-indicators > li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.carousel-item img {
    object-fit: cover;
}

#indicator{
    cursor: pointer;
}

#indicator.active{
    border: 1px solid rgba(0, 0, 0, 0.8);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.carousel-indicators li:not(:last-child) {
    margin-right: 10px;
}

/* black overlay on image */
.black-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

#ctaBtn{
    padding: 10px 20px!important;
    font-weight: bold!important;
    margin: 10px 15px!important;
}

.carousel-title{
    font-size: 2.6rem;
}

.carousel-message{
    font-size: 1rem;
    padding: 15px 0;
}

/* cards */
.heading{
    text-align: center;
    font-weight: bold;
}

hr{
    height: 0.5px; 
    background: rgb(140, 140, 140);
    margin-top: 25px; 
    margin-bottom: 50px;
}

.cardContainer{
   padding: 40px 0;
   width: 60vw;
   margin: auto;
}

#overlay{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

/* sushi */
#sushi{
    background: url('../img/sushi.png') no-repeat center center;
    background-size: cover;
}

/* hotpot */
#hotpot{
    background: url('../img/hotpot.png') no-repeat center center;
    background-size: cover;
}

/* grill */
#grill{
    background: url('../img/grill.png') no-repeat center center;
    background-size: cover;
}

/* sake */
#sake{
    background: url('../img/sake.png') no-repeat center center;
    background-size: cover;
}

.card{
    width: 25rem;
    height: 15rem;
}

.card-title{
    color: #fff;
    font-weight: bold;
}

.card-text{
    font-size: 12px;
    color: #fff;
    padding-top: 35px;
}

#viewBtn{
    font-size: 14px;
}

/* ABOUT SECTION */
.aboutContainer{
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    margin: auto;
}

.aboutContent{
    padding: 0 70px;
}

.column{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

#readMore{
    font-weight: bold;
    font-size: 14px;
}

#colID-2{
    border: 1px solid #000;
    background: #c42727;
    color: #fff;
}

/* GALLERY SECTION */
.gallery{
    padding: 40px 0;
    width: 60vw;
    margin: auto;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7); 
}

.row-1 img{
    padding: 5px;
    max-width: 20vw;
}

.imgCol{
    display: none; 
}

#btnContainer{
    text-align: center;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
    transition: all 0.5 ease;
    margin-bottom: 50px;
}

#btnContainer button{
    font-size: 1.2rem;
}

#btnContainer button:not(:last-child){
    margin-right: 10px;
}

.btn.active{
    font-weight: bold;
}

.show {
    display: block;
}

.modal-footer{
    justify-content: center;
}

/* OUR TEAM SECTION */
.ourTeam{
    padding: 40px 0;
    width: 60vw;
    margin: auto;
}

.ourTeam p{
    text-align: center;
    padding-bottom: 10px;
}

.card-1{
    text-align: center;
    margin: 0;
}

.card-body{
    background: rgb(255, 255, 255);
    border: rgba(0, 0, 0, 0.5) solid 1px;
}

.card-title-1{
    color: #000;
    font-weight: bold;
}

/* STORE SECTION */
.storeContainer{
    width: 100%;
    padding: 40px 0;
    margin: auto;
    text-align: left;
    overflow: hidden;
}

#map {
    height: 400px;
    width: 100%;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

#storeRow{
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
}

#storeColumn{
    align-self: center;
}

/* SOCIAL MEDIA */
.socialMedia{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    margin-bottom: 0px;
}

.socialMedia li{
    list-style: none;
    margin: 10px;
    font-size: 18px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
}

.socialMedia li:nth-child(1){
    background: #3b5998;
}

.socialMedia li:nth-child(2){
    background: #00aced;
}

.socialMedia li:nth-child(3){
    background: #dd4b39;
}

.socialMedia li:nth-child(4){
    background: #007bb6;
}

.socialMedia li:nth-child(5){
    background: #bc2a8d;
}

.socialMedia li:hover{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.socialMedia li a{
    width: 60px;
    padding: 16px 0;
    display: block;
    color: #fff;
}

/* FOOTER SECTION */
footer{
    margin-top: 50px;
    background: #181818;
    color: #fff;
}

/* RESPONSIVE OPTIMIZATION */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .notiContent{
        font-size: 0.75rem;
    }
    .mynav{
        background:rgba(0, 0, 0, 0.8)!important;
    }
    .nav-item{
        text-align: center;
    }
    .navbar-nav > li > a {
        line-height: 10px;
        padding-top: 20px;
        padding-bottom: 80px;
    }
    .navbar-nav li:nth-child(6) {
        padding-bottom: 400px;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1.7rem;
    }
    .container{
        padding-left: 18px!important;
        padding-right: 18px!important;
    }
    .carousel-caption{
        top: 55%;
    }
    .carousel-title{
        font-size: 2rem;
    }
    .carousel-message{
        font-size: 0.75rem;
        padding: 15px 0;
    }
    #ctaBtn{
        font-size: 0.8rem;
    }
    .card-title{
        font-size: 0.75rem;
    }
    .cardContainer{
        padding: 40px 0;
        width: 90vw;
        margin: auto;
    }
    .card-text{
        font-size: 0.65rem;
        color: #fff;
        padding-top: 0px;
    }
    .column{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    #colID-2{
        height: 250px;
    }
    .aboutContent{
        padding: 0 20px;
    }
    .aboutContent h3{
        font-size: 1rem;
        font-weight: bold!important;
        padding-bottom: 20px;
    }
    .aboutContent p{
        font-size: 0.6rem;
        padding-bottom: 10px;
    }
    #readMore{
        font-size: 0.6rem;
    }
    .gallery{
        padding: 40px 0;
        width: 90vw;
        margin: auto;
    }
    .row-1 img{
        max-width: 90vw;
    }
    #btnContainer{
        display: flex;
        flex-direction: column;
    }
    #btnContainer button{
        font-size: 1rem;
    }
    #btnContainer button:not(:last-child){
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .ourTeam{
        padding: 40px 0;
        width: 90vw;
        margin: auto;
    }
    .card-title-1{
        font-size: 1.75rem;
    }
    .card-text-1{
        font-size: 1.25rem;
    }
    #storeContent{
        text-align: center;
    }
    #storeContent h3{
        padding-top: 30px;
        font-size: 1.2rem;
    }
    #storeContent p{
        font-size: 0.8rem;
    }
    .socialMedia{
        justify-content: center;
    }
    .socialMedia li a{
        font-size: 12px;
    }
    .socialMedia li a{
        padding: 12px;
        width: 40px;
    }
}   

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .notiContent{
        font-size: 1rem;
    }
    .mynav{
        background:rgba(0, 0, 0, 0.8)!important;
    }
    .nav-item{
        text-align: center;
    }
    .navbar-nav > li > a {
        line-height: 10px;
        padding-top: 20px;
        padding-bottom: 80px;
    }
    .navbar-nav li:nth-child(6) {
        padding-bottom: 500px;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1.6rem;
    }
    .carousel-caption{
        top: 58%;
    }
    .carousel-title{
        font-size: 2rem;
    }
    .carousel-message{
        font-size: 0.75rem;
        padding: 15px 0;
    }
    #ctaBtn{
        font-size: 0.8rem;
    }
    .card-title{
        font-size: 1rem;
    }
    .cardContainer{
        padding: 40px 0;
        width: 90vw;
        margin: auto;
    }
    .card-text{
        font-size: 0.75rem;
        color: #fff;
        padding-top: 15px;
    }
    .column{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    #colID-2{
        height: 400px;
    }
    .aboutContent h3{
        font-size: 1.5rem;
        font-weight: bold!important;
        padding-bottom: 30px;
    }
    .aboutContent p{
        font-size: 1rem;
        padding-bottom: 20px;
    }
    #readMore{
        font-size: 1rem;
    }
    .gallery{
        padding: 40px 0;
        width: 90vw;
        margin: auto;
    }
    .row-1 img{
        max-width: 45vw;
    }
    #btnContainer button{
        font-size: 1rem;
    }
    .ourTeam{
        padding: 40px 0;
        width: 90vw;
        margin: auto;
    }
    .card-title-1{
        font-size: 2rem;
    }
    .card-text-1{
        font-size: 1.325rem;
    }
    #storeContent{
        text-align: center;
    }
    #storeContent h3{
        padding-top: 30px;
    }
    .socialMedia{
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .notiContent{
        font-size: 1.1rem;
    }
    .mynav{
        background:rgba(0, 0, 0, 0.8)!important;
    }
    .nav-item{
        text-align: center;
    }
    .navbar-nav > li > a {
        line-height: 10px;
        padding-top: 20px;
        padding-bottom: 80px;
    }
    .navbar-nav li:nth-child(6) {
        padding-bottom: 380px;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1.5rem;
    }
    .carousel-title{
        font-size: 2.5rem;
    }
    .carousel-message{
        font-size: 0.8rem;
        padding: 15px 0;
    }
    #ctaBtn{
        font-size: 0.9rem;
    }
    .cardContainer{
        padding: 40px 0;
        width: 80vw;
        margin: auto;
    }
    .card-title{
        font-size: 1.25rem;
    }
    .card-text{
        font-size: 0.75rem;
        color: #fff;
        padding-top: 20px;
    }
    .column{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    #colID-2{
        height: 400px;
    }
    .aboutContent h3{
        font-size: 1.75rem;
        font-weight: bold!important;
        padding-bottom: 30px;
    }
    .aboutContent p{
        font-size: 1rem;
        padding-bottom: 20px;
    }
    #readMore{
        font-size: 1rem;
    }
    .gallery{
        padding: 40px 0;
        width: 80vw;
        margin: auto;
    }
    .row-1 img{
        max-width: 40vw;
    }
    #btnContainer button{
        font-size: 1.2rem;
    }
    .ourTeam{
        padding: 40px 0;
        width: 80vw;
        margin: auto;
    }
    .card-title-1{
        font-size: 1.5rem;
    }
    .card-text-1{
        font-size: 1.1rem;
    }
    #storeContent{
        text-align: center;
    }
    #storeContent h3{
        padding-top: 30px;
    }
    .socialMedia{
        justify-content: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .notiContent{
        font-size: 1.1rem;
    }
    .carousel-title{
        font-size: 2.75rem;
    }
    .carousel-message{
        font-size: 0.9rem;
        padding: 15px 0;
    }
    #ctaBtn{
        font-size: 1rem;
    }
    .cardContainer{
        padding: 40px 0;
        width: 80vw;
        margin: auto;
    }
    .card-text{
        font-size: 12px;
        color: #fff;
        padding-top: 35px;
    }
    .aboutContent h3{
        font-size: 1.25rem;
        font-weight: bold!important;
        padding-bottom: 30px;
    }
    .aboutContent p{
        font-size: 0.8rem;
    }
    #readMore{
        font-size: 0.8rem;
    }
    .gallery{
        padding: 40px 0;
        width: 80vw;
        margin: auto;
    }
    .row-1 img{
        max-width: 40vw;
    }
    #btnContainer button{
        font-size: 1.2rem;
    }
    .ourTeam{
        padding: 40px 0;
        width: 80vw;
        margin: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .notiContent{
        font-size: 1rem;
    }
    .aboutContent h3{
        font-size: 1.75rem;
        font-weight: bold!important;
        padding-bottom: 30px;
    }
    .aboutContent p{
        font-size: 1rem;
    }
    #readMore{
        font-size: 1rem;
    }
}